.notice {
    background-color: rgb(247, 162, 5);
    overflow: hidden;
    width: 100%;
}

.notice-content{
    font-weight: bold;
    font-size: 18px;
    animation: moveNotice 15s linear infinite;
    color: #010642;
}

@keyframes moveNotice {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-29%);
    }
}

@media screen and (max-width: 768px) {
    @keyframes moveNotice {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-45%);
        }
    }
}

@media screen and (max-width: 480px) {
    @keyframes moveNotice {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-75%);
        }
    }
}

@media screen and (max-width: 310px) {
    .notice-content{
        font-size: 17px;
    }
}

